.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #F5F8FF;
}

.Section-margin {
    margin: 0 300px;
}

/* color class  */
.text-primary {
    color: #4E47FF;
}

.text-secondary {
    color: #252432;
}

/* nav start  */

nav {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    font-size: 34px;
    font-weight: 900;
    line-height: 51px;
    text-transform: uppercase;
}

.nav-button {
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 24px;
    padding: 12px 36px;
    border-radius: 10px;
    background-color: #4E47FF;
    border: 0;
    transform: all 0.10s ease;

}

.nav-button:hover {
    background-color: orange;
    color: black;
}

/* nav start  */

/* banner section start  */
header {
    background-image: url(Assets/Hero-bg.png);
    background-position: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.logo-span {
    color: orange;
}


.banner {
    padding: 200px 0;
    display: flex;
    flex-direction: column;

}

.banner-heading {
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    max-width: 905px;
    margin: auto;
    padding-bottom: 40px;

}

.banner-button-wrapper {
    text-align: center;
}

.banner-button {
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 24px;
    padding: 12px 36px;
    border-radius: 10px;
    background-color: #4E47FF;
    border: 0;
}

/* banner section end  */

/* action section start  */
.action {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.action-details {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(37, 36, 50, 0.50);
    max-width: 517px;
    padding-bottom: 23px;
}

.action-image {
    border-radius: 48px;
}

.action-button {
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 24px;
    padding: 10px 36px;
    border-radius: 10px;
    background-color: #4E47FF;
    border: 0;
}

/* action section end  */

/* productive section start  */

.productive {
    border-radius: 24px;
    background: rgba(78, 71, 255, 0.10);
    padding: 50px 120px;
}

.productive-heading,
.feedback-heading {
    font-size: 42px;
    font-weight: 700;
    padding-bottom: 20px;
    text-align: center;
    padding-bottom: 40px;
}

.counter-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
}

.counter-heading {
    font-size: 80px;
    font-weight: 700;
}

.counter-info {
    color: rgba(0, 0, 0, 0.50);
    font-size: 20px;
    font-weight: 400;
}

/* productive section start  */

/* feedback section start  */
.feedback {
    padding: 100px 0;
}

.feedback-heading {
    padding-bottom: 40px;
}

.review-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.reviews {
    padding: 24px;
    background-color: white;
    border-radius: 14px;
}

.review-stars {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 24px;
}

.review-heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.48px;
    padding-bottom: 24px;

}

.review-info {
    color: #1E1E1E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 20px;
}

.review-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-label {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #757575;

}

.profile-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #b3b3b36e;
}

.profile-image img {
    border-radius: 9999px;
}

/* feedback section end  */

/* touch section start  */
.touch {
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.touch-heading {
    color: #000;
    font-size: 97px;
    font-weight: 700;
    line-height: 116px;
    max-width: 528px;
    width: 60%;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 40%;

}

.form-item {
    display: flex;
    flex-direction: column;
}

label {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    padding-bottom: 10px;
}

input {
    padding: 20px 32px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #D6DDED;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.50);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

}

textarea {
    border: 0;
    max-height: 135px;
    max-width: 100%;
    height: 200px;
    resize: none;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    background: #FFF;
    padding: 20px 0 0 20px;
}

textarea::placeholder {
    color: rgba(0, 0, 0, 0.50);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

textarea:focus {
    outline: 0;
}