.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

/* color class  */
.text-primary {
    color: #4E47FF;
}

.text-secondary {
    color: #252432;
}

/* nav start  */

nav {
    margin: 0px 200px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    font-size: 34px;
    font-weight: 900;
    line-height: 51px;
    text-transform: uppercase;
}

.nav-button {
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 24px;
    padding: 12px 36px;
    border-radius: 10px;
    background-color: #4E47FF;
    border: 0;

}

/* nav start  */

/* banner section start  */
header {
    background-image: url(Assets/Hero-bg.png);
    background-position: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}


.banner {
    padding: 200px 0;
    margin: 0 200px;
    display: flex;
    flex-direction: column;

}

.banner-heading {
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    max-width: 905px;
    margin: auto;
    padding-bottom: 40px;

}

.banner-button-wrapper {
    text-align: center;
}

.banner-button {
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 24px;
    padding: 12px 36px;
    border-radius: 10px;
    background-color: #4E47FF;
    border: 0;
}

/* banner section end  */

/* action section start  */
.action {
    padding: 100px 0;
    margin: 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.action-details {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(37, 36, 50, 0.50);
    max-width: 517px;
    padding-bottom: 23px;
}

.action-image {
    border-radius: 48px;
}

.action-button {
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 24px;
    padding: 10px 36px;
    border-radius: 10px;
    background-color: #4E47FF;
    border: 0;
}

/* action section end  */

/* productive section start  */

.productive {
    margin: 0 200px 50px 200px;
    border-radius: 24px;
    background: rgba(78, 71, 255, 0.10);
    padding: 50px 120px;
}

.productive-heading,
.feedback-heading {
    font-size: 42px;
    font-weight: 700;
    padding-bottom: 20px;
    text-align: center;
    padding-bottom: 40px;
}

.counter-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
}

.counter-heading {
    font-size: 80px;
    font-weight: 700;
}

.counter-info {
    color: rgba(0, 0, 0, 0.50);
    font-size: 20px;
    font-weight: 400;
}

/* productive section start  */

/* feedback section start  */